$richmaroon:         #B8336A;
$lightgrayshmagenta: #C490D1;
$maximumbluepurple:  #ACACDE;
$freshair:           #ABDAFC;
$bubbles:            #E5FCFF;

$flash-success: #CCEEAA;
$flash-warn:    #FFEEAA;
$flash-danger:  #FFAAAA;

$font-color: #3f3f3f;
$nav-border: #c9c9c9;
$nav-bg:     #f3f3f3;

$pc:  2048px;
$tab: 680px;
$sp:  480px;

@mixin pc {
  @media (max-width: $pc) {
    @content;
  }
}

@mixin tab {
  @media (max-width: $tab) {
    @content;
  }
}

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin btn ($bg-color, $font-color: white) {
  background-color: $bg-color;
  color: $font-color;
  &:hover {
    background-color: $bg-color + 30;
  }
}

@mixin flash ($bg-color) {
  background-color: $bg-color;
  color:            $bg-color - 150;
}

body {
  margin: 0;
  font-family: 'Lato', 'Avenir';
  color: $font-color;
}

.headline {
  font-size: 1.3em;
  font-weight: bold;
}

div.field {
  margin: 10px 0;

  input, textarea {
    width: 100%;
    display: block;
    border-radius: 5px;
    border: solid 1px $freshair;
    background-color: white;
    text-align: justify;
    font-size: 15px;
    text-indent: 5px;
  }

  input {
    height: 30px;
  }

  label {
    font-weight: bold;
  }
}

.container {
  @include pc { margin: 0 25%; }
  @include sp { margin: 0 10%; }
  height: 100%;
}

#error_explanation {
  margin:    5px 0px;
  background-color: lemonchiffon;
  color: olive;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  h2 {
    font-size: 1.2em;
  }
}

#notice {
  background-color: palegreen;
  color: darkolivegreen;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
  transition: 0.5s;
}

.btn-normal {
  @include btn ($lightgrayshmagenta);
}

.btn-submit {
  @include btn ($richmaroon);
}

.user-id {
  font-size:  15px;
  color: $font-color + 50;
}

.flash {
  font-size: 20px;
  padding:   15px 0px 13px 10px;
  margin:    5%;
  width:     90%;
  height:    25px;
  border-radius: 5px;
}

.flash-success { @include flash ($flash-success); }
.flash-danger  { @include flash ($flash-danger); }

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $nav-bg;
  border-bottom: solid 1px $nav-border;

  li.left {
    float: left;
  }

  li.right {
    float: right;
  }

  li {
    a {
      font-weight: bold;
      font-size:   20px;
      display: block;
      color: $font-color;
      text-align: center;
      padding: 18px 22px;
      text-decoration: none;
      border-right: solid 1px $nav-border;
      border-left:  solid 1px $nav-border;

      &:hover {
        background-color: white - 30;
        transition: 0.5s;
      }
    }
  }
}
