<ul class="nav-bar">
  <li class="left">
    <%= link_to "Home", root_path %>
  </li>
  <% if logged_in? %>
    <li class="left">
      <%= link_to "Mypage", current_user %>
    </li>
    <li class="right">
      <%= link_to "Logout", logout_path, method: :delete %>
    </li>
  <% else %>
    <li class="right">
      <%= link_to "Login", login_path %>
    </li>
  <% end %>
</ul>
